@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
:root {
  --primary: #f09300;
  --gray: #b1b1b1;
  --borderColor: #6b3a05;
  --borderSize: 2px;
  --boardSpacing: 3.5vmin;
}

body,
p,
ol,
ul,
table {
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary);
  font-size: 12px;
  font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 1;
}
body img {
  display: block;
}

footer {
  background: var(--gray);
  position: relative;
  z-index: 3;
}
footer h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
footer ol {
  padding-left: 1.2rem;
  font-size: 0.8rem;
}
footer div {
  background: white;
  padding: 3vmin 5%;
}
footer p {
  text-align: center;
  padding: 2vmin;
}

header {
  position: relative;
}
header .banner {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
header .logos {
  width: 90%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -20%);
  z-index: 2;
  list-style: none;
}
header .logos li {
  width: 14.6666666667%;
  padding: 0 1%;
}
header .logos img {
  width: 100%;
  height: auto;
}
header .ribbon {
  position: absolute;
  z-index: 3;
  background-image: url("../images/ribbon-01.png");
  background-size: 100% 100%;
  background-position: 50% 100%;
}

.back {
  display: block;
  width: 60px;
  height: 60px;
  background: url("../images/icon-goback.png") no-repeat 0 0;
  background-size: contain;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9;
}

.ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transition: transform 1s ease-in-out;
}

.slogan {
  padding: 1%;
  padding-top: calc(1% + 44px);
  background: white;
}
.slogan img {
  width: 80%;
  margin: 0 auto;
}

main {
  position: relative;
}
main section {
  position: relative;
  z-index: 2;
  max-width: 1280px;
  margin: 0 auto;
}
main .ribbon {
  z-index: 1;
  background-image: url("../images/ribbon-02.png");
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: 50% 0%;
  height: calc(100% + 20vmax);
}

.mainContent section {
  width: 90%;
  padding-bottom: 6vmax;
}
.mainContent img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.mainContent .slot {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, calc(-6vmax - 30%));
  z-index: 4;
  width: 38%;
}

.gameListContent {
  padding: 0 5% 3vmax;
}
.gameListContent .searchInfo {
  margin: 0 auto 1rem;
}
.gameListContent .searchInfo img {
  width: 100%;
}
.gameListContent .searchBar {
  border-radius: 50px;
  overflow: hidden;
  max-width: 1280px;
  margin: 0 auto;
  padding: 6px;
  background: url("../images/bg-01.png") no-repeat 0 0;
  background-size: 100% 100%;
  position: relative;
  z-index: 2;
  font-size: 1rem;
}
.gameListContent .searchBar label {
  background: white;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: calc(100% - 2rem);
}
.gameListContent .searchBar span {
  white-space: nowrap;
  display: block;
  font-weight: 500;
}
.gameListContent .searchBar input {
  width: 100%;
  outline: 0;
  border: 0;
  font-size: 1rem;
  padding-left: 1rem;
}
.gameListContent .gameBoard {
  position: relative;
  display: flex;
  padding: var(--boardSpacing);
  margin: 3vmax auto;
  background: #fadd94 url("../images/bg-board_02.jpg") no-repeat 50% var(--boardSpacing);
  background-size: 100% calc(100% - var(--boardSpacing) * 2);
}
.gameListContent .gameBoard::before, .gameListContent .gameBoard::after {
  content: "";
  display: block;
  width: 100%;
  height: calc(var(--boardSpacing) + 1px);
  position: absolute;
  left: 0;
}
.gameListContent .gameBoard::before {
  top: 0;
  background: url("../images/bg-board_01.jpg") no-repeat 0 0;
  background-size: 100% 100%;
}
.gameListContent .gameBoard::after {
  bottom: 0;
  background: url("../images/bg-board_03.jpg") no-repeat 0 100%;
  background-size: 100% 100%;
}
.gameListContent .gameBrand {
  width: 33.3333333333%;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gameListContent .gameBrand img {
  width: 100%;
}
.gameListContent .gameBrand a {
  width: 70%;
  margin-top: 1rem;
}
.gameListContent table {
  width: 100%;
  border-collapse: collapse;
}
.gameListContent th,
.gameListContent td {
  padding: 1rem 0.5rem;
  vertical-align: middle;
  color: white;
  font-weight: 500;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.9);
}
.gameListContent th {
  white-space: nowrap;
  width: 33.3333333333%;
  border-left: var(--borderSize) solid var(--borderColor);
  border-right: var(--borderSize) solid var(--borderColor);
}
.gameListContent tr:not(:first-child) th, .gameListContent tr:not(:first-child) td {
  border-top: var(--borderSize) solid var(--borderColor);
}
.gameListContent tr:first-child td {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.gameListContent tr:first-child td::after {
  content: "";
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background: url("../images/icon-marker.png") no-repeat 0 50%;
  background-size: contain;
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  :root {
    --borderSize: 3px;
  }
  body {
    font-size: 17px;
  }
  .slogan {
    padding-top: 1%;
  }
  footer h3 {
    font-size: 1rem;
  }
  footer ol {
    line-height: 2;
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  header .logos {
    flex-wrap: nowrap;
    width: 98%;
    transform: translate(-50%, -100%);
  }
  header .logos li {
    padding: 0;
  }
  .gameListContent th,
.gameListContent td {
    padding: 1rem 1.5rem;
  }
  .gameListContent .searchInfo {
    margin-bottom: 0;
    transform: translateY(-100%);
  }
  .gameListContent .gameBrand {
    padding: 0 2rem;
  }
  .gameListContent .gameBrand a {
    width: 60%;
    margin-top: 1.5rem;
  }
}
